<div class="first-part-eggs-choices-container" class="d-none">
  <div class="text-for-selecting-your-egg-size">
    <h3>Select your <span class="yellow-text">egg</span> size!</h3>
  </div>
  <div class="main-container-for-eggs">
    <div class="secondary-container">
      <div class="size-text-container" id="eggs-section"></div>
      <div class="choose-desired-egg-size">
        <% @eggs.each do |egg| %>
          <div class="egg-size">
            <div class="size-image">
              <% if egg.size == 'Small' %>
                <div class="size-text-small egg-image">
                  <div class="small-image-egg-container">
                    <div class="small-h2-text"><h2>S</h2></div>
                  </div>
                </div>
              <% elsif egg.size == 'Medium' %>
                <div class="size-text-medium egg-image">
                  <div class="medium-image-egg-container">
                    <div class="medium-h2-text"><h2>M</h2></div>
                  </div>
                </div>
              <% elsif egg.size == 'Large' %>
                <div class="size-text-large egg-image">
                  <div class="large-image-egg-container">
                    <div class="large-h2-text"><h2>L</h2></div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="main-container-for-temperature-options">
    <div class="text-for-temperature-container">
      <h3>Now let's select the temperature that the egg was stored.</h3>
    </div>
    <div class="main-container">
      <div class="temperature-section-container">
        <% @temperatures.each do |temperature|  %>
          <div class="choose-temperature-of-egg">
            <% if temperature.ambient_temp == 'fridge_temp' %>
              <div class="fridge-temperature-text-image temp-image">
                <div class="image-fridge-for-fridge-temp"><%= image_tag 'fridge.png', class: 'temp-image' %></div>
                <div class="text-for-temperature">Fridge temperature</div>
              </div>
            <% elsif temperature.ambient_temp == 'room_temp' %>
              <div class="room-temperature-text-image temp-image">
                <div class="image-background-for-room-temp"><%= image_tag 'background.png', class: 'temp-image' %></div>
                <div class="text-for-temperature">Room temperature</div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="main-container-for-presure-options">
    <div class="text-for-presure-container">
      <h3>Select the atmospheric pressure under which the egg is being cooked.</h3>
    </div>

    <div class="information-about-presure-container">
      <a href="#" class="button">Why presure</a>
    </div>
    <div class="main-container">
      <div class="boiling-point-container">
        <% @presures.each do |presure| %>
          <div class="image-athmospheric-presure-container">
            <% if presure.atmo_presure == 'Sea level'%>
              <div class="sea-level-text-image atm-presure-image">
                <div class="image-sea-level-for-presure"><%= image_tag 'sea-level.png', class: "atm-presure-image" %></div>
                <div class="text-for-presure">Sea level</div>
              </div>
            <% elsif presure.atmo_presure == 'Altitude' %>
              <div class="altitude-text-image atm-presure-image">
                <div class="image-altitude-for-presure"></div><%= image_tag 'altitude.png', class: "atm-presure-image" %>
                <div class="text-for-presure">Altitude</div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="result-container">
    <div class="results-btn-container">
      <%= link_to "Results", "#result" , class: "btn btn-success", id: "button-result"  %>
    </div>
    <div class="result-container-for-soft-boiled-and-hard-boiled-egg">
      <div id="result" class="main-container-for-boiling-soft-egg-results d-none">
        <div class="results-calculation-container">
          <p id="egg-result" class="d-none"></p>
          <p id="temp-result" class="d-none"></p>
          <p id="presure-result" class="d-none"></p>
        </div>
      </div>
      <div id="result-hard" class="main-container-for-boiling-hard-egg-results d-none">
        <div class="second-results-calculation-container">
          <p id="egg-result-hard" class="d-none"></p>
          <p id="temp-result-hard" class="d-none"></p>
          <p id="presure-result-hard" class="d-none"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  let presureElement = document.querySelector('#presure-result');

  let presureImage = document.querySelectorAll(".atm-presure-image")
  let selectedImagePressure = null;
  let presureChoice = null;

  presureImage.forEach(function(image) {
    image.addEventListener('click', function() {
      if (this === selectedImagePressure) {
        this.classList.remove('highlighted')
        selectedImagePressure = null;
      } else {
        presureImage.forEach(function(image)  {
          image.classList.remove('highlighted')
        });

        this.classList.add('highlighted');
        selectedImagePressure = this;

        if (selectedImagePressure !== null) {
          let parentElement = selectedImagePressure.parentElement
          while (parentElement && !parentElement.classList.contains('image-athmospheric-presure-container')) {
            parentElement = parentElement.parentElement
          }

          if (parentElement) {
            if (parentElement.querySelector('.sea-level-text-image')) {
              presureChoice = "Sea Level"
            } else if (parentElement.querySelector('.altitude-text-image')) {
              presureChoice = "Altitude"
            }
          }
        }
      }

      presureElement.textContent = presureChoice;
    });
  });

  let eggImages = document.querySelectorAll('.egg-image');
  let selectedEggImage = null;
  let eggSize = null;
  let eggResultElement = null;

  eggImages.forEach(function(image) {
    image.addEventListener('click', function() {
      if (this === selectedEggImage) {
        this.classList.remove('highlighted');
        selectedEggImage = null;
      } else {
        eggImages.forEach(function(image) {
          image.classList.remove('highlighted');
        });

        this.classList.add('highlighted');
        selectedEggImage = this;

        if (selectedEggImage !== null) {
          let parentElement = selectedEggImage.parentElement;
          while (parentElement && !parentElement.classList.contains('egg-size')) {
            parentElement = parentElement.parentElement;
          };

          if (parentElement) {
            if (parentElement.querySelector('.size-text-small')) {
              eggSize = "Small"
            } else if (parentElement.querySelector('.size-text-medium')) {
              eggSize = "Medium"
            } else if (parentElement.querySelector('.size-text-large')) {
              eggSize = "Large"
            };
          };
        };
      };

      eggResultElement = document.querySelector('#egg-result');

      eggResultElement.textContent = eggSize;
    });
  });

  const tempElement = document.querySelector('#temp-result');

  let temperatureImage = document.querySelectorAll(".temp-image")
  let selectedImageTemperature = null;
  let tempChoice = null;

  temperatureImage.forEach(function(image) {
    image.addEventListener('click', function() {
      if (this === selectedImageTemperature) {
        this.classList.remove('highlighted')
        selectedImageTemperature = null;
      } else {
        temperatureImage.forEach(function(image)  {
          image.classList.remove('highlighted')
        });

        this.classList.add('highlighted');
        selectedImageTemperature = this;

        if (selectedImageTemperature !== null) {
          let parentElement = selectedImageTemperature.parentElement;
          while (parentElement && !parentElement.classList.contains('choose-temperature-of-egg')) {
            parentElement = parentElement.parentElement;
          };

          if (parentElement) {
            if (parentElement.querySelector('.room-temperature-text-image')) {
              tempChoice = "Room temperature"
            } else if (parentElement.querySelector('.fridge-temperature-text-image')) {
              tempChoice = "Fridge temperature"
            };
          };
        };
      };

      tempElement.textContent = tempChoice;
    });
  });


  let resultButton = document.getElementById("button-result");
  let resultElement = document.getElementById("result");

  resultButton.addEventListener("click", function() {
    resultElement.classList.remove("d-none");
  });


  let calculateButton = document.getElementById("button-result");

  calculateButton.addEventListener('click', function(event) {
  event.preventDefault();

  if (selectedEggImage === null || selectedImageTemperature === null || selectedImagePressure === null) {
    alert("Please select all the options to get the result.");
  } else {

    let softBoiled = null;
    let hardBoiled = null;

    if (eggResultElement.textContent === "Small") {
      if (tempElement.textContent === "Room temperature") {
        if (presureElement.textContent === "Sea Level") {
          softBoiled = "3-4";
          hardBoiled = "7-8";
        } else if (presureElement.textContent === "Altitude") {
          softBoiled = "4-5";
          hardBoiled = "9-10";
        };
      } else if (tempElement.textContent === "Fridge temperature") {
        if (presureElement.textContent === "Sea Level") {
          softBoiled = "8-9";
          hardBoiled = "12-14";
        } else if (presureElement.textContent === "Altitude") {
          softBoiled = "10-12";
          hardBoiled = "16-18";
        };
      };
    }

    if (eggResultElement.textContent === "Medium") {
      if (tempElement.textContent === "Room temperature") {
        if (presureElement.textContent === "Sea Level") {
          softBoiled = "5-6";
          hardBoiled = "9-12";
        } else if (presureElement.textContent === "Altitude") {
          softBoiled = "7-8";
          hardBoiled = "12-14";
        };
      } else if (tempElement.textContent === "Fridge temperature") {
        if (presureElement.textContent === "Sea Level") {
          softBoiled = "7-8";
          hardBoiled = "12-14";
        } else if (presureElement.textContent === "Altitude") {
          softBoiled = "9-10";
          hardBoiled = "14-16";
        };
      };
    }

    if (eggResultElement.textContent === "Large") {
      if (tempElement.textContent === "Room temperature") {
        if (presureElement.textContent === "Sea Level") {
          softBoiled = "7-8";
          hardBoiled = "12-14";
        } else if (presureElement.textContent === "Altitude") {
          softBoiled = "9-10";
          hardBoiled = "14-16";
        };
      } else if (tempElement.textContent === "Fridge temperature") {
        if (presureElement.textContent === "Sea Level") {
          softBoiled = "8-9";
          hardBoiled = "12-14";
        } else if (presureElement.textContent === "Altitude") {
          softBoiled = "10-12";
          hardBoiled = "16-18";
        };
      };
    };

    let resultTextSoft = document.getElementById("result");
    resultTextSoft.innerText = `If you want to have a soft-boiled ${eggResultElement.textContent} sized egg at ${tempElement.textContent} and at ${presureElement.textContent}, boil the egg for ${softBoiled} minutes.`;
    resultTextSoft.classList.remove("d-none")

    let resultTextHard = document.getElementById("result-hard");
    resultTextHard.innerText += `If you want to have a hard-boiled ${eggResultElement.textContent} sized egg at ${tempElement.textContent} and at ${presureElement.textContent}, boil the egg for ${hardBoiled} minutes.`;
    resultTextHard.classList.remove("d-none");
    }
  });
</script>
