
<div class="main-container">
  <div class="welcome-egg-text-container" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path 'haley-hamilton-HxNunc_vnlg-unsplash.jpg' %>')">
    <h1>Welcome to the Egg Cooker!</h1>
  </div>

  <div class="how-it-works-text-container">
    <h3>How it works</h3>
  </div>
  <div class="three-images-how-it-works-container">

    <div class="first-image-how-it-works-container">
      <img src="<%= image_path 'white-egg.png' %>" alt="">
      <div class="marketing-description-body">
        <p>First, you'll need to select the size of the egg you're boiling. This is important because the size of the egg will affect how long it takes to boil. If you're not sure what size your egg is, you can usually find this information on the egg carton.</p>
      </div>
    </div>

    <div class="second-image-how-it-works-container">
      <img src="<%= image_path 'temp.png' %>" alt="">
      <div class="marketing-description-body">
        <p>Next, you'll need to select the temperature of the egg you are going to boil. This step is crucial, as the temperature of the egg will determine how long it takes to boil the egg. If the egg is taken from a room temperature it will take less time to boil.</p>
      </div>
    </div>

    <div class="third-image-how-it-works-container">
      <img src="<%= image_path 'presure.png' %>" alt="">
      <div class="marketing-description-body">
        <p>After selecting the temperature of the egg, the next step is to consider the atmospheric pressure at which you'll be cooking your egg. This may sound complicated, but don't worry – it simply means taking into account your altitude.</p>
      </div>
    </div>
  </div>
  <div class="button-next-eggs-btn">
    <%= link_to "Let's start", eggs_path, class:"btn btn-success" %>
  </div>
</div>
